// Fonts
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

// Variables
@import './variables';

// Components
@import './components/loadingpage.scss';
@import './components/home.scss';
@import './earth.scss';
@import './projects.scss';
@import './components/contact.scss';
@import './components/about.scss'; // Background
@import './parallax';
@import './components/footer.scss';

// Pages
@import './pages/NotFound.scss';

// Layouts
@import './layouts/navs';
@import './layouts/buttons';

// Utilities
@import './utilities/loader';

// Animations
@import './layouts/animations';

// Responsive
@import './media-queries';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  ::-moz-selection {
    /* Code for Firefox */
    color: $fourth;
    background: $tertiary;
  }

  ::selection {
    color: $fourth;
    background: $tertiary;
  }
}

body {
  background-color: $primary;
  color: $fourth;
  font-family: 'Poppins', sans-serif;
}

.app {
  position: relative;
}

.main {
  height: 100%;
  min-width: 100%;
  padding-bottom: 50px;
  margin-bottom: 300px;
  background-color: $primary;
}

.container {
  padding-left: 60px;
}

.section {
  width: 100%;
  padding: 0 10% 0 15%;
}

.title--bg {
  font-size: 132px;
  font-weight: 900;
  position: absolute;
  opacity: 0.1;
}
.title--fg {
  position: absolute;
  font-size: 23px;
  font-weight: 399;
}

#spacer {
  height: 200px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $tertiary;
  margin: 1em 0;
  padding: 0;
}

.pills {
  display: flex;
  flex-wrap: wrap;

  .pill-wrapper {
    margin-bottom: 10px;
    .pill {
      color: $secondary;
      margin-right: 10px;
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 20px;
      position: relative;
      cursor: pointer;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    &:hover .pill {
      animation: bounce 1s ease-out;
    }
  }
}

// Glitch effect
.text-glitch-container {
  text-align: center;
  .text-glitch {
    text-transform: uppercase;
    font-size: 6rem;
    letter-spacing: 2px;
    font-weight: 700;
    position: relative;
  }
  .text-glitch:before,
  .text-glitch:after {
    position: absolute;
    content: attr(data-text);
    font-weight: 700;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $primary;
    letter-spacing: 2px;
  }
  .text-glitch:before {
    left: 5px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s 0s linear reverse infinite;
  }
  .text-glitch:after {
    left: -15px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s 0s linear reverse infinite;
  }
}

// Scrollbars

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary_2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($secondary, 10);
}

@include mediaSm {
  body {
    width: 100%;
  }

  footer {
    width: 100%;
  }

  #projects {
    .thumbnails {
      grid-template-columns: 1fr;
    }
  }

  #contact {
    height: 150vh;
    .content {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      place-items: center;
      .form {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
        width: 100%;
      }
    }
  }
}
