#projects {
  margin-bottom: 5%;
  .header {
    width: 100%;
    position: relative;
    .bg__text {
      left: 0;
      top: 0;
    }

    .fg__text {
      left: 50px;
      top: 90px;
    }
  }

  .thumbnails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;

    .thumbnail__links {
      color: #fff;
      .thumbnail {
        margin: 2rem 0;
        height: 400px;
        width: 600px;
        box-shadow: 0 10px 10px rgba(black, 0.5);
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease-out;
        &.Dulang {
          height: 400px;
          width: 100%;
          background: url('../assets/img/Thumbnails/dulang.jpg');
          background-size: cover;
          background-position: center;
        }
        &.Holistic {
          height: 400px;
          width: 100%;
          background: url('../assets/img/Thumbnails/holistic.png');
          background-size: cover;
          background-position: center;
        }
        &.SDM {
          height: 400px;
          width: 100%;
          background: url('../assets/img/Thumbnails/SDM.jpg');
          background-size: cover;
          background-position: center;
        }
      }

      .thumbnail:hover {
        transform: scale(0.98);
        color: #fff;
        font-size: 2.5rem;
        font-weight: 600;

        &::before {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          font-size: 32px;
          text-align: center;
          content: attr(data-img);
          position: absolute;
          height: 100%;
          width: 100%;
          background: $tertiary;
          opacity: 0.9;
        }
      }
    }
  }
}

#project {
  background-color: $secondary;
  border: 150px solid $primary;
  border-top: 100px solid $primary;
  border-bottom: 100px solid $primary;
  padding: 80px;
  position: relative;

  .close-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    z-index: 1;
    transition: 0.5s ease-out;
    .close-lines__btn:before,
    .close-lines__btn:after {
      content: '';
      background-color: #fff;
      position: absolute;
    }
    .close-lines__btn:before,
    .close-lines__btn:after {
      width: 1.5rem;
      height: 0.1rem;
      transition: all 0.5s ease-in-out;
    }

    .close-lines__btn:before {
      transform: translateY(-0.3rem);
    }
    .close-lines__btn:after {
      transform: translateY(0.3rem);
    }

    &:hover .close-lines__btn:before {
      width: 1.5rem;
      transform: rotate(-45deg);
      background-color: $tertiary;
    }
    &:hover .close-lines__btn:after {
      width: 1.5rem;
      transform: rotate(45deg);
      background-color: $tertiary;
    }
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    margin-bottom: 10px;
    font-weight: 400;
  }

  .description {
    margin-bottom: 20px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;

    .image {
      max-width: 100%;
    }
  }
}
